@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

body {
            font-family: "Inter", sans-serif;
            /* height: 100vh; */
            width: 100%;
            background: #0f0c29;
            color: #fff;
            margin-bottom: 50px;
        }

header{
    margin-bottom: 10px;
}

h1{
    margin: 50px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div{
    font-size: 27px;
    word-spacing: 10px;
}

#p5part5 p{
    margin-bottom: 0;
}
.div p{
    margin-bottom: 20px;
}

div {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    h2 {
        margin-bottom: 30px;
        margin-top: 60px;
        font-size: 50px;
    }

    table {
        tbody {
            tr {
                td {
                    line-height: 1.5;
                    padding-right: 20px;
                    padding-top: 0px;
                    font-size: 27px;
                }
            }
        }
    }
}
.p2{
    line-height: 1.5;
}
label{
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.t2{
    padding-bottom: 40px;
}

.t2 label{
    padding-top: 35px;
}
.p6 label{
    padding: 0;
    padding-bottom: 10px;
}
:is(.p7, .p8) .t2{
    padding-bottom: 0;
}
input{
    padding: 10px 20px;
    width: 530px;
    border: none;
    text-align: center;
    font-size: 22px;
    border-radius: 2px;
}
.answer{
    gap: 20px;
    color: #000;
     border-radius: 3px;
    /* height: 50px;
    width: 400px; */
    display: flex;
    align-items: center;justify-content: center;
    background-color: #fff;
    padding: 20px 30px;
}
.answer2{
    padding: 21px 30px 19px 30px;
}
p{
    font-size: 24px;
    line-height: 1.7;
}
button{
    font-size: 20px;
    padding: 7px 20px;
    font-weight: 500;
}
.btn{
    display: inline-block;
    margin-bottom: 35px;
}
.p4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.injs{
    text-align: center;
}

